%button {
  @extend %flex-horizontal-vcentered;
  justify-content: center;
  font-family: $font-main;
  font-weight: bold;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
}

.button-main {
  @extend %button;
  background-color: $color-orange-secondary;
  padding: 0 $space-sm;
  color: white;
  border: none;
  &:disabled {
    background-color: $color-disabled;
  }
}

.button-primary {
  @extend %button;
  background-color: black;
  color: white;
  border: 2px solid black;
  &:disabled {
    background-color: $color-disabled;
    border-color: $color-disabled;
  }
}

.button-secondary {
  @extend %button;
  background-color: white;
  color: black;
  border: 2px solid black;
  &:disabled {
    background-color: white;
    color: $color-disabled;
    border-color: $color-disabled;
  }
}
