app-footer {
  footer {
    background-color: $color-black;
    color: white;
    border-top: 1px solid $color-third;
    overflow-x: auto;
    clear: both;
    position: relative;

    @extend %flex-horizontal;
    align-items: center;
    justify-content: center;
    padding: $space-md;

    span {
      margin: 0 $space-md;
    }
  }
}
