.form-entry {
  @extend %flex-vertical;
  margin-bottom: $space-md;
  padding: 3px;
}

.form-entry-label {
  font-size: $font-size-md;
  color: $color-black;
}

.form-entry-label-required::after {
  color: $color-error;
  content: "*";
}

.form-entry-inline {
  @extend %flex-horizontal;
}
