app-header {
  .logo {
    width: 50px;
    height: 50px;
  }

  .header-orange {
    @extend %flex-horizontal;
    align-items: flex-end;
    padding: $space-md;
    border-bottom: 1px solid $color-third;

    .header-title {
      @extend %flex-vertical;
      margin-left: $space-lg;
      cursor: pointer;
      flex: 1;
    }

    .username {
      font-style: italic;
    }

    .btn-icon {
      color: $color-white;
      cursor: pointer;

      &:hover {
        color: $color-orange;
      }
    }
  }
}
