.modal {
  &.modal-closed {
    display: none;
  }

  &.modal-opened {
    @extend %flex-horizontal;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: $modal-z-index;
  }
}

.modal-content {
  background-color: white;
}

.modal-suppression-container,
.modal-confirmation-suppression-container {
  @extend %flex-vertical-hcenter;
  padding: $space-lg;
}

.modal-suppression-actions {
  @extend %flex-horizontal-vcentered;
  padding: $space-md;
  padding-bottom: 0;
  > * + * {
    margin-left: $space-md;
  }
}

.modal-suppression-label,
.modal-confirmation-suppression-label {
  font-size: $font-size-lg;
}

.modal-suppression .modal-content,
.modal-confirmation-suppression .modal-content {
  width: 800px;
}

.modal-multi-line-label {
  @extend %flex-vertical;

  > * + * {
    margin-top: 13px;
  }
}

.modal-actions-align-end {
  width: 100%;
  flex-direction: row-reverse !important;
}
