.header-headband {
  background-color: black;
  color: white;
  border-bottom: 1px solid $color-third;
  overflow-x: auto;
}

.orange-menu {
  @extend %flex-horizontal;
  list-style: none;
  margin: 0 $space-lg 0 0;
  align-items: center;
  height: $space-xl;

  > * + * {
    margin-left: $space-md;
  }
}

.l-menu-item {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: $font-size-lg;
  margin: $space-sm;

  &:hover,
  &.l-menu-item-active {
    color: $color-major;
    padding-bottom: 5px;
    border-bottom: 3px solid $color-major;
  }
}
