.title-main {
  font-size: $font-size-hg;
  font-weight: bold;
}

.title-main-info {
  @extend .title-main;
  color: $color-orange;
}

.title-secondary {
  font-size: $font-size-lg;
  font-weight: bold;
}

.title-minor {
  font-size: $font-size-md;
  font-weight: bold;
  color: $color-orange;
  text-align: center;
}

.title-warn {
  font-size: $font-size-hg;
  font-weight: bold;
  color: $color-error;
}

.head-title {
  @extend .title-main;
  height: 60px;
  line-height: 60px;
  padding: 0 $space-xl;
  border-bottom: 1px solid $color-grey-4;
}
