<div class="error-page">
  <h1 class="title-main">
    Ooops !!!
    <span *ngIf="err">
      {{ err?.status }}
      {{ err?.statusText }}
    </span>
  </h1>

  <p>{{ 'oops.somethingwrong' | translate }}</p>
  <p>{{ 'oops.tryreconnect' | translate }}</p>
</div>
