<header class="header-headband">
  <div class="header-orange">
    <img class="logo" src="/assets/orange.svg" alt="logo orange">
    <div class="header-title" routerLink="/">
      <h3>{{ conf.basicat | uppercase }}</h3>
      <span>{{ conf.title }}</span>
    </div>
    <div *ngIf="jwtService.isLoggedInAsObservable() | async">
      {{ "hello" | translate }}
      <span class="username">
      {{ jwtService.getPayload().given_name }}
      {{ jwtService.getPayload().family_name }}
      </span>
      <i (click)="jwtService.logout()" class="icon-logout btn-icon"></i>
      <!-- <button >Disconnect</button> -->
    </div>
  </div>
  <ul class="orange-menu">
    <li *ngFor="let menuItem of menu">
      <a class="l-menu-item" [routerLink]="menuItem.route" routerLinkActive="l-menu-item-active">{{ menuItem.text }}</a>
    </li>
  </ul>
</header>
