* {
  box-sizing: border-box;
  line-height: 1;
  font-family: $font-main;
}

body {
  background-color: $color-background;
  margin: 0;
  overflow-x: auto;
}

:focus {
  outline: none;
}

input,
button,
select {
  height: 36px;
  font-size: $font-size-md;
}

select:disabled {
  background-color: $color-disabled;
}

a {
  text-decoration: none;
  color: $color-orange;
  font-weight: bold;
}

input,
button,
select,
textarea {
  &,
  &:focus,
  &:active {
    outline-style: none;
    outline-offset: 1px;
    outline: transparent;
    box-shadow: none;
  }
}

input,
textarea {
  appearance: none;
  border: 1px solid rgb(169, 169, 169);
  padding: $space-tn;
}

input[type="text"] {
  min-width: 0;
  width: 100%;
}

h1,
h2,
h3,
p {
  margin: 0 0 $space-md;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  height: 17px;
  width: 17px;
  background: #fff;
  border: 1px solid;
  cursor: pointer;
}

input[type="checkbox"] + label {
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background: $color-orange-secondary;
  border: none;
  &:before {
    content: "✔";
    display: block;
    color: white;
    font-size: 14px;
    position: relative;
    text-align: center;
    top: 1px;
    overflow-y: hidden;
  }
}

input[type="checkbox"]:disabled {
  cursor: not-allowed;
  color: $color-disabled;
  + label {
    cursor: not-allowed;
    color: $color-disabled;
  }
}

input[type="checkbox"]:disabled:checked {
  background: $color-disabled;
}

label {
  margin: 0;
  padding: 0;
}
