// Fonts families

@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/HelvNeue55_W1G.woff2") format("woff2"),
    url("fonts/HelvNeue55_W1G.woff") format("woff");
}
@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/HelvNeue75_W1G.woff2") format("woff2"),
    url("fonts/HelvNeue75_W1G.woff") format("woff");
}

$font-main: "Helvetica Neue";

// colors
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #d3d3d3;
$color-light-grey: #fbfbfb;
$color-orange: #ff7900;
$color-orange-secondary: #f16e00;

$color-support-blue: #4bb4e6;
$color-support-purple: #a885d8;
$color-support-green: #50be87;
$color-support-yellow: #ffd200;
$color-support-pink: #ffb4e6;

$color-success: #32c832;
$color-info: #527edb;
$color-warn: #ffcc00;
$color-error: #cd3c14;
$color-major: #ff7900;
$color-secondary: #9164cd;
$color-third: #8f8f8f;

$color-grey-1: #333333;
$color-grey-2: #666666;
$color-grey-3: #999999;
$color-grey-4: #cccccc;
$color-grey-5: #dddddd;
$color-grey-6: #eeeeee;

$color-disabled: $color-grey-4;
$color-background: $color-white;

// Font sizes
$font-size-tn: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-hg: 24px;

// Spaces
$space-tn: 5px;
$space-sm: 10px;
$space-md: 20px;
$space-lg: 30px;
$space-xl: 40px;

// Z-index references
$tooltip-z-index: 10;
$modal-z-index: 20;
$super-modal-z-index: 30;

// Flex Super Classes
%flex-horizontal {
  display: flex;
  flex-direction: row;
}

%flex-horizontal-vcentered {
  @extend %flex-horizontal;
  align-items: center;
}

%flex-vertical {
  display: flex;
  flex-direction: column;
}

%flex-vertical-left {
  @extend %flex-vertical;
  align-items: flex-start;
}

%flex-vertical-hcenter {
  @extend %flex-vertical;
  align-items: center;
}

%flex-vertical-right {
  @extend %flex-vertical;
  align-items: flex-end;
}

// page size
$width-orange: 1200px;
