<div class="error-page">
  <h1 class="title-main">{{ 'wip.title' | translate }}</h1>
  <p>{{ 'wip.description' | translate }}</p>
  <img class="container" src="assets/img/wip.png" alt="work-in-progress">
</div>
