<div class="error-page">
  <h1 class="title-main">Accès non autorisé</h1>
  <p>Vous n'avez pas les autorisations nécessaires pour accéder à cette ressource.</p>
  <p>Merci de vous reconnecter ou de contacter votre administrateur.</p>
</div>
