.icon-user {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe800;&nbsp;"
  );
}
.icon-off {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe801;&nbsp;"
  );
}
.icon-search {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe802;&nbsp;"
  );
}
.icon-bell {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe803;&nbsp;"
  );
}
.icon-basket {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe804;&nbsp;"
  );
}
.icon-logout {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe805;&nbsp;"
  );
}
.icon-info-circled {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe806;&nbsp;"
  );
}
.icon-alert {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe807;&nbsp;"
  );
}
.icon-attention {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe808;&nbsp;"
  );
}
.icon-info {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe809;&nbsp;"
  );
}
.icon-calendar {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe80a;&nbsp;"
  );
}
.icon-cancel {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe80b;&nbsp;"
  );
}
.icon-check {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe80c;&nbsp;"
  );
}
.icon-down-open {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe80d;&nbsp;"
  );
}
.icon-up-open {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe80e;&nbsp;"
  );
}
.icon-right-open {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe80f;&nbsp;"
  );
}
.icon-left-open {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe810;&nbsp;"
  );
}
.icon-down-dir {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe811;&nbsp;"
  );
}
.icon-up-dir {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe812;&nbsp;"
  );
}
.icon-params {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe813;&nbsp;"
  );
}
.icon-cog {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe814;&nbsp;"
  );
}
.icon-heart {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe815;&nbsp;"
  );
}
.icon-heart-empty {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe816;&nbsp;"
  );
}
.icon-cancel-circled {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe817;&nbsp;"
  );
}
.icon-plus-circled {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe818;&nbsp;"
  );
}
.icon-cancel-squared {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe819;&nbsp;"
  );
}
.icon-plus-squared {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe81a;&nbsp;"
  );
}
.icon-plus {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe81b;&nbsp;"
  );
}
.icon-minus {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe81c;&nbsp;"
  );
}
.icon-minus-circled {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe81d;&nbsp;"
  );
}
.icon-minus-squared {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe81e;&nbsp;"
  );
}
.icon-help {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe81f;&nbsp;"
  );
}
.icon-help-circled {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe820;&nbsp;"
  );
}
.icon-link {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe821;&nbsp;"
  );
}
.icon-attach {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe822;&nbsp;"
  );
}
.icon-home {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe823;&nbsp;"
  );
}
.icon-star {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe824;&nbsp;"
  );
}
.icon-star-empty {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe825;&nbsp;"
  );
}
.icon-lock {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe826;&nbsp;"
  );
}
.icon-lock-open {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe827;&nbsp;"
  );
}
.icon-location {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe828;&nbsp;"
  );
}
.icon-vcard {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe829;&nbsp;"
  );
}
.icon-phone-1 {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe82a;&nbsp;"
  );
}
.icon-flag {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe82b;&nbsp;"
  );
}
.icon-users {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe82c;&nbsp;"
  );
}
.icon-users-outline {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe82d;&nbsp;"
  );
}
.icon-user-add {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe82e;&nbsp;"
  );
}
.icon-mail {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe82f;&nbsp;"
  );
}
.icon-eye {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe830;&nbsp;"
  );
}
.icon-comment {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe831;&nbsp;"
  );
}
.icon-bell-1 {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe832;&nbsp;"
  );
}
.icon-adjust {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe833;&nbsp;"
  );
}
.icon-spin {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe834;&nbsp;"
  );
}
.icon-chart-pie {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe835;&nbsp;"
  );
}
.icon-chart-line {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe836;&nbsp;"
  );
}
.icon-chart-bar {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe837;&nbsp;"
  );
}
.icon-floppy {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe838;&nbsp;"
  );
}
.icon-edit {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe839;&nbsp;"
  );
}
.icon-chart-bar-1 {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe83a;&nbsp;"
  );
}
.icon-trash-empty {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe83b;&nbsp;"
  );
}
.icon-forward {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe83c;&nbsp;"
  );
}
.icon-tag {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe83d;&nbsp;"
  );
}
.icon-tags {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe83e;&nbsp;"
  );
}
.icon-quote {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe83f;&nbsp;"
  );
}
.icon-right-dir {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe840;&nbsp;"
  );
}
.icon-left-dir {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe841;&nbsp;"
  );
}
.icon-resize-full {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe842;&nbsp;"
  );
}
.icon-resize-normal {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe843;&nbsp;"
  );
}
.icon-docs {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xf0c5;&nbsp;"
  );
}
.icon-sort {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xf0dc;&nbsp;"
  );
}
.icon-sort-down {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xf0dd;&nbsp;"
  );
}
.icon-sort-up {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xf0de;&nbsp;"
  );
}
.icon-bell-alt {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xf0f3;&nbsp;"
  );
}
.icon-reply {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xf112;&nbsp;"
  );
}
.icon-reply-all {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xf122;&nbsp;"
  );
}
.icon-pencil-squared {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xf14b;&nbsp;"
  );
}
.icon-chat {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xf1d7;&nbsp;"
  );
}
.icon-trash {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xf1f8;&nbsp;"
  );
}
.icon-chart-area {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xf1fe;&nbsp;"
  );
}
.icon-chart-pie-1 {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xf200;&nbsp;"
  );
}
.icon-chart-line-1 {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xf201;&nbsp;"
  );
}
.icon-phone {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xf232;&nbsp;"
  );
}
.icon-shopping-basket {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xf291;&nbsp;"
  );
}
.icon-hashtag {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xf292;&nbsp;"
  );
}
.icon-envelope-open {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xf2b6;&nbsp;"
  );
}
.icon-envelope-open-o {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xf2b7;&nbsp;"
  );
}
.icon-address-book {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xf2b9;&nbsp;"
  );
}
.icon-address-book-o {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xf2ba;&nbsp;"
  );
}
