@font-face {
  font-family: "fontello";
  src: url("../font/fontello.eot?99220749");
  src: url("../font/fontello.eot?99220749#iefix") format("embedded-opentype"),
    url("../font/fontello.woff2?99220749") format("woff2"),
    url("../font/fontello.woff?99220749") format("woff"),
    url("../font/fontello.ttf?99220749") format("truetype"),
    url("../font/fontello.svg?99220749#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?99220749#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-user:before {
  content: "\e800";
} /* '' */
.icon-off:before {
  content: "\e801";
} /* '' */
.icon-search:before {
  content: "\e802";
} /* '' */
.icon-bell:before {
  content: "\e803";
} /* '' */
.icon-basket:before {
  content: "\e804";
} /* '' */
.icon-logout:before {
  content: "\e805";
} /* '' */
.icon-info-circled:before {
  content: "\e806";
} /* '' */
.icon-alert:before {
  content: "\e807";
} /* '' */
.icon-attention:before {
  content: "\e808";
} /* '' */
.icon-info:before {
  content: "\e809";
} /* '' */
.icon-calendar:before {
  content: "\e80a";
} /* '' */
.icon-cancel:before {
  content: "\e80b";
} /* '' */
.icon-check:before {
  content: "\e80c";
} /* '' */
.icon-down-open:before {
  content: "\e80d";
} /* '' */
.icon-up-open:before {
  content: "\e80e";
} /* '' */
.icon-right-open:before {
  content: "\e80f";
} /* '' */
.icon-left-open:before {
  content: "\e810";
} /* '' */
.icon-down-dir:before {
  content: "\e811";
} /* '' */
.icon-up-dir:before {
  content: "\e812";
} /* '' */
.icon-params:before {
  content: "\e813";
} /* '' */
.icon-cog:before {
  content: "\e814";
} /* '' */
.icon-heart:before {
  content: "\e815";
} /* '' */
.icon-heart-empty:before {
  content: "\e816";
} /* '' */
.icon-cancel-circled:before {
  content: "\e817";
} /* '' */
.icon-plus-circled:before {
  content: "\e818";
} /* '' */
.icon-cancel-squared:before {
  content: "\e819";
} /* '' */
.icon-plus-squared:before {
  content: "\e81a";
} /* '' */
.icon-plus:before {
  content: "\e81b";
} /* '' */
.icon-minus:before {
  content: "\e81c";
} /* '' */
.icon-minus-circled:before {
  content: "\e81d";
} /* '' */
.icon-minus-squared:before {
  content: "\e81e";
} /* '' */
.icon-help:before {
  content: "\e81f";
} /* '' */
.icon-help-circled:before {
  content: "\e820";
} /* '' */
.icon-link:before {
  content: "\e821";
} /* '' */
.icon-attach:before {
  content: "\e822";
} /* '' */
.icon-home:before {
  content: "\e823";
} /* '' */
.icon-star:before {
  content: "\e824";
} /* '' */
.icon-star-empty:before {
  content: "\e825";
} /* '' */
.icon-lock:before {
  content: "\e826";
} /* '' */
.icon-lock-open:before {
  content: "\e827";
} /* '' */
.icon-location:before {
  content: "\e828";
} /* '' */
.icon-vcard:before {
  content: "\e829";
} /* '' */
.icon-phone-1:before {
  content: "\e82a";
} /* '' */
.icon-flag:before {
  content: "\e82b";
} /* '' */
.icon-users:before {
  content: "\e82c";
} /* '' */
.icon-users-outline:before {
  content: "\e82d";
} /* '' */
.icon-user-add:before {
  content: "\e82e";
} /* '' */
.icon-mail:before {
  content: "\e82f";
} /* '' */
.icon-eye:before {
  content: "\e830";
} /* '' */
.icon-comment:before {
  content: "\e831";
} /* '' */
.icon-bell-1:before {
  content: "\e832";
} /* '' */
.icon-adjust:before {
  content: "\e833";
} /* '' */
.icon-spin:before {
  content: "\e834";
} /* '' */
.icon-chart-pie:before {
  content: "\e835";
} /* '' */
.icon-chart-line:before {
  content: "\e836";
} /* '' */
.icon-chart-bar:before {
  content: "\e837";
} /* '' */
.icon-floppy:before {
  content: "\e838";
} /* '' */
.icon-edit:before {
  content: "\e839";
} /* '' */
.icon-chart-bar-1:before {
  content: "\e83a";
} /* '' */
.icon-trash-empty:before {
  content: "\e83b";
} /* '' */
.icon-forward:before {
  content: "\e83c";
} /* '' */
.icon-tag:before {
  content: "\e83d";
} /* '' */
.icon-tags:before {
  content: "\e83e";
} /* '' */
.icon-quote:before {
  content: "\e83f";
} /* '' */
.icon-right-dir:before {
  content: "\e840";
} /* '' */
.icon-left-dir:before {
  content: "\e841";
} /* '' */
.icon-resize-full:before {
  content: "\e842";
} /* '' */
.icon-resize-normal:before {
  content: "\e843";
} /* '' */
.icon-docs:before {
  content: "\f0c5";
} /* '' */
.icon-sort:before {
  content: "\f0dc";
} /* '' */
.icon-sort-down:before {
  content: "\f0dd";
} /* '' */
.icon-sort-up:before {
  content: "\f0de";
} /* '' */
.icon-bell-alt:before {
  content: "\f0f3";
} /* '' */
.icon-reply:before {
  content: "\f112";
} /* '' */
.icon-reply-all:before {
  content: "\f122";
} /* '' */
.icon-pencil-squared:before {
  content: "\f14b";
} /* '' */
.icon-chat:before {
  content: "\f1d7";
} /* '' */
.icon-trash:before {
  content: "\f1f8";
} /* '' */
.icon-chart-area:before {
  content: "\f1fe";
} /* '' */
.icon-chart-pie-1:before {
  content: "\f200";
} /* '' */
.icon-chart-line-1:before {
  content: "\f201";
} /* '' */
.icon-phone:before {
  content: "\f232";
} /* '' */
.icon-shopping-basket:before {
  content: "\f291";
} /* '' */
.icon-hashtag:before {
  content: "\f292";
} /* '' */
.icon-envelope-open:before {
  content: "\f2b6";
} /* '' */
.icon-envelope-open-o:before {
  content: "\f2b7";
} /* '' */
.icon-address-book:before {
  content: "\f2b9";
} /* '' */
.icon-address-book-o:before {
  content: "\f2ba";
} /* '' */
