<div class="error-page">
  <img src="assets/img/404.png" alt="carte">
  <h1 class="title-main">{{ 'notfound.title' | translate }}</h1>
  <p>{{ 'notfound.description' | translate }}</p>
  <p><a routerLink="/">{{ 'backhome' | translate }}</a></p>
</div>
